header {
    display: flex;
    justify-content: flex-end;
    min-height: 200px;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-item {
    min-width: 100px;
    min-height: 100px;
    background-color: beige;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.product-item h3 {
    font-family: "Arial Narrow", sans-serif;
}
.buy-btn {
    border-radius: 10px;
    background-color: grey;
    color: white;
    padding: 10px;
    border: none;
}
.buy-btn:hover {
    background-color: white;
    color: grey;
}